$color-white: #fff;
$color-red: #c70101;
$color-lightgrey: #f8f8f8;
$color-black: #3d3d3d;
$color-linear-gradient: linear-gradient(90deg, #d8af69, #f3d88e, #d8af69);
$color-darkblue: #001838;
$color-gold: #f3d88e;
$color-lightblue: #e1eff9;
$color-blue: #2fc5f9;
$color-grey: #f9fcff;